<div class="sidebar" style="margin-left: 15px;height: 100px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{currentTime | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
    </div>
    <div class="list-group">
      <a target="_blank" class="list-group-item">访问总数：7000</a>
      <a target="_blank"  class="list-group-item"> 评论总数：3780</a>
      <a target="_blank"class="list-group-item">在线访客：235</a>
      <a target="_blank" class="list-group-item">文章总数：1178</a>
    </div>
  </div>
</div>
