<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="sidebar-toggle-box hidden-phone" style="padding-top: 10px">
        <img src="../../../assets/login_icon.png">
      </div>
      <a class="dropdown-toggle " style="color: white;font-size: 24px;line-height: 60px" >
        智慧工厂中央管理系统
      </a>

      <ul class=" pull-right top-menu" style="padding-top: 10px;list-style-type:none;">
        <!-- BEGIN SUPPORT -->
        <li class="dropdown mtop5">

          <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip"  data-original-title="Chat">
            <i  class="fa fa-comments" style="color: white"></i>
          </a>
        </li>
        <li class="dropdown mtop5">
          <a class="dropdown-toggle element" data-placement="bottom" data-toggle="tooltip"  data-original-title="Help">
            <i class="fa fa-headphones" style="color: white"></i>
          </a>
        </li>
        <!-- END SUPPORT -->
        <!-- BEGIN USER LOGIN DROPDOWN -->
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown">
            <span class="username" style="color: white">Jhon Doe</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
