.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.pull-right {
  float: right;
}

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.navbar .nav>li {
  float: left;
}
.dropup, .dropdown {
  position: relative;
}
li {
  line-height: 20px;
}
.navbar-inverse .brand, .navbar-inverse .nav>li>a {

}
.navbar .nav>li>a {
  float: none;
  padding: 10px 15px 10px;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
.nav>li>a {
  display: block;
}

a {
  color: #3983c2;
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
li.dropdown.mtop5
li {
  line-height: 20px;

}
.navbar-inner li.dropdown .dropdown-toggle i {
  font-size: 20px;
}

/* page container */
.navbar-inverse .navbar-inner {
  background-color: #3983c2;
  background-repeat: repeat-x;
  border-color: #3983c2;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4a8bc2', endColorstr='#ff4a8bc2', GradientType=0);
}
.sidebar-toggle-box {
  background: #3983c2;
  color: #fff;
}
.sidebar-toggle-box {
  float: left;
  height: 60px;
  margin-left: -20px;
  margin-right: 20px;
  padding: 0 30px;
}

.sidebar-toggle-box .fa-reorder {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin-top: 17px;
}

.sidebar-closed > #sidebar > ul {
  display: none;
}

.sidebar-closed #main-content {
  margin-left: 0px;
}

.sidebar-closed #sidebar {
  margin-left: -115px;
}

/* sidebar menu */

[class^="icon-"], [class*=" icon-"] {
  margin-top: 0;
}

#sidebar {
  z-index: 100;
  background: #404040;
}

.sidebar-scroll {
  position: fixed;
  overflow-y: scroll;
  height: 100%;
  width: 180px;
  z-index: 100;
}

#sidebar ul{
  margin-bottom:180px !important;
}

#sidebar .navbar-search {
  border: 0px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#sidebar.closed {
  display: none;
}

#sidebar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#sidebar > ul > li {
  display: block;
  margin: 0 0 1px 0px;
  padding: 0;
  border: 0px;
  line-height: 30px;
}

#sidebar > ul > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  width: 150px;
  padding: 5px 15px;
  background: #505050;

  transition-duration: 500ms;
  transition-property: width, background;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
}

#sidebar > ul > li > a > span {
  display: inline-block;
  line-height: normal;
}

#sidebar > ul > li a i {
  color:#eaeaea;
  font-size: 16px;
}

#sidebar > ul > li a i {
  width: 25px;
}

#sidebar > ul > li.active > a{
  border: none;
}

#sidebar > ul > li.active > a .arrow {
  margin-right: 0px;
}

#sidebar > ul > li.active > a .arrow.open {
  margin-right: 0px;
}

#sidebar ul > li > a .arrow {
  float: right;
  margin-top: 12px;
  margin-right: 0px;
  width: 0;
  height: 0;
  border-left: 4px solid #A0A0A0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#sidebar > ul > li > a .arrow.open {
  float: right;
  margin-top: 14px;
  margin-right: 0px;
  width: 0;
  height: 0;
  border-top: 5px solid #A0A0A0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow {
  float: right;
  margin-top: 12px;
  margin-right: 0px;
  width: 0;
  height: 0;
  border-left: 4px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open {
  float: right;
  margin-top: 14px;
  margin-right: 0px;
  width: 0;
  height: 0;
  border-top: 5px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

#sidebar > ul > li > ul.sub {
  display: none;
  list-style: none;
  clear: both;
  margin: 0px;
}

#sidebar > ul > li > ul.sub {
  margin-bottom: 0 !important;
}
#sidebar > ul > li.active > ul.sub {
  display: block;
  margin-bottom: 0 !important;
}

#sidebar > ul > li > ul.sub > li {
  background: none !important;
  padding: 0px;
  margin-bottom: 1px;
}

#sidebar > ul > li > ul.sub > li > a {
  display: block;
  position: relative;
  padding: 10px 10px 10px 45px;
  color: #ccc;
  text-decoration: none;
  text-shadow: 0 1px 1px #000;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
}

/* footer */
#footer {
  background: #f0f0f0;
  bottom: 0;
  color:#757575 ;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 102;
}

#footer .goto {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-top: -8px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  background-color: #111;
  opacity: 0.8;
  padding: 8px 12px;
  opacity:0.4;
  filter: alpha(opacity = 40);
}

#footer .goto:hover {
  background: #3983c2;
  opacity: 1;
  transition-duration: 500ms;
  transition-property: width, background;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
}

#footer .goto  {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}
li{
  top: 10px;
  display:inline;
  padding-right: 30px;
}
