<app-homecarousel></app-homecarousel>
<div class="mainright   " style="height: 785.9px; margin-top: 6.432px;">
  <div style=" sans-serif; font-size: 14px; line-height: 20px;position: relative; word-wrap: break-word;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h2 style="  color: #1aaef3;zoom: 1; font-weight: bold;">企业文化 Corporate Culture</h2>
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">核心价值观 Company Core Value</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body clearfix">
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">专注 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Commitment</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">诚信 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Integrity</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">创新 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Innovation</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">进取 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Aggressive</div>
              </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">使命 Mission</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<blockquote>-->
                <p>为半导体、太阳能、光通讯等高新技术产业和国防工业提供高性能的产品和服务，实现中国石英的崛起。</p>
                <p>Providing high quality products and  services for high-tech industry such as Semiconductor,solar energy,optical communication etc.and national defense indusrty to achieve the rise of Chinese quartz.</p>
              <!--</blockquote>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">愿景 Vision</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<blockquote>-->
                <p>做世界一流的高新材料供应商，打造百年菲利华品牌。</p>
                <p>To be the world class adcanced Hi-tech material supplier and build a century Felihua brand.</p>
              <!--</blockquote>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">理念 Idea</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<blockquote>-->
                <p>对外全面满足客户需求，对内最大限度满足员工物质和自我价值实现的要求，切实履行企业公民责任。</p>
                <p>Externally  satisfying the customers' demands and internally meet the request of physical needs as well as realization of staff's self-value，essentially fulfilling the responsibility of enterprise citizenship.</p>
              <!--</blockquote>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-sm-6">
          <h2 style="color:  #1aaef3;zoom: 1; font-weight: bold;">管理方针 Management Policy</h2>
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">质量方针 Quality policy</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body clearfix">
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">科学管理 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title"> Scientific Management</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">快速反应 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Rapid Response</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">持续改善 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title">Continuous Improvement</div>
              </div>
              <div class="pull-left text-center valueinfo" style="width:25%;">
                <div class="title">顾客满意 </div>
                <div style=" margin-top: 10px; margin-bottom: 10px; border: 0;border-top: 1px solid green;"></div>
                <div class="title"> Customer Satisfaction</div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">环境方针 Environment Policy</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<blockquote>-->
                <p>以不断的技术进步和严格的管理提高产品品质和服务的同时，注重环保、节能的社会责任，始终坚持健康、持续的发展方向。</p>
                <p>We Keep on improving the quality of products &amp; services by constant technical progress and strict management, and in the meanwhile take our social responsibilities on environmental protection and energy saying aiming at healthy and sustainable development.</p>
              <!--</blockquote>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 style="  color:  #0993d3;">职业健康方针 Occupational Health Policy</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!--<blockquote>-->
                <p>以遵章守法为基础，坚持“安全第一、预防为主”的原则，持续改进职业健康安全工作，创建和谐企业。</p>
                <p>Being disciplined &amp; law-abiding,we devote on improving the conditions for occupational safety and health and a harmonious enterprise wht the principle of "Safety first,precaution crucial".</p>
              <!--</blockquote>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </div>
</div>
